<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home | Calorie Buddy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link type="text/css" href="/mid-term/styles/style.css" rel="stylesheet">
    </head>

    <body>

        <!-- Navigation -->
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/topic7/mid-term/">
                        <img src="/mid-term/img/logo.png" alt="Calorie Buddy logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/topic7/mid-term/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/topic7/mid-term/about">About</a>
                            </li>
                            <li class="nav-item">
                                <!-- Foods link serves as dropdown menu. -->
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuTab" data-toggle="dropdown"
                                    aria-expanded="false" aria-haspopup="true">Foods</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuTab">
                                    <li>
                                        <a class="dropdown-item" href="/topic7/mid-term/add">Add Food</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/topic7/mid-term/search">Search Food</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/topic7/mid-term/searchToUpdate">Update Food</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/topic7/mid-term/list">List Foods</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--- Welcome Section -->
        <main id="homeMain">
            <div id="welcomeBanner">
                <h1>Welcome to Calorie Buddy!</h1>
                <p> We keep track of the calories you eat so that
                    you can focus on living a healthier and happier life!
                </p>
            </div>
        </main>
    </body>
</html>