<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Search for Food | Calorie Buddy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link type="text/css" href="styles/style.css" rel="stylesheet">
    </head>

    <body id="searchFood">

        <!-- Navigation -->
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="img/logo.png" alt="Calorie Buddy logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuTab" data-toggle="dropdown"
                                    aria-expanded="false" aria-haspopup="true">Foods</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuTab">
                                    <li>
                                        <a class="dropdown-item" href="/add">Add Food</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/search">Search Food</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/searchToUpdate">Update Food</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/list">List Foods</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Main Search Section -->
        <main>
            <form id="searchFoodBar" action="/search-result" method="GET">
                <fieldset>
                    <legend class="formDesc"><%= pageName %></legend>
                    <div class="input-group">
                        <input name="keyword" class="form-control" type="search" placeholder="Enter keyword to begin search" id="searchBar" required>
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit" id="searchBarBtn">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <small id="searchHelp" class="form-text">Don't worry, all foods containing that keyword will be displayed.</small>
                </fieldset>
            </form>
        </main>
    </body>
</html>